shared-workspace-shrinkwrap = true
# 是否先从workspace中查找包， 如果为true，则安装依赖时会增加workspace:^1.0.1.
# 如果设置为false，则会正常从配置的registry中安装，但是如果依赖中写了workspace:^1.0.1也可以正常安装
link-workspace-packages = true
registry="https://registry.npmjs.org"